@media (max-width: 1024px){
	.material-nav{
		width: 100% !important;
	}
	.filter-holder{
		border-radius: 0 !important;
		bottom: 0 !important;
		padding: 0 !important;
	}
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.material-nav .nav-brand img{
		width: 25px;
		height: auto;
	}
	dialog{ 
		top: 0px !important;
	}
 
}